body {
  color: #82a5ca;
  font-weight: bold;
  text-align: center;
  font-family: "Orbitron", sans-serif;
  margin: 0;
}

.hero {
    background-image: url(img/galaxy.webp);
    background-size: cover;
    padding: 10px 0 40px 0;
}

.logo {
  margin-top: 10px;
  width: 150px;
}

.btn {
  border: none;
  background-color: white;
  padding: 5px 10px;
  font-family: inherit;
  margin-top: 20px;
  font-weight: 800;
  color: #82a5ca;
}

.underline {
  border-bottom: 3px solid #82a5ca;
}

p {
    text-shadow: 5px 2px 0px rgba(19,18,18,1);
}


